
<div class="container content">
    <div class="row">
        <div class="btn btn-danger add" >
            <i class='bx bx-plus' ></i> Add Residence
        </div>
    </div>
    <br>
    <h3 style="color:#D24C51">Request Residence</h3>
    <br>
    <div class="row" style="background-color: white;padding:12px;width:99%">
        <table class="table">
            <thead style="background-color:#F1F1F1">
              <tr>
                <th scope="col">Residences_id</th>
                <th scope="col">Residences name</th>
                <th scope="col">Owner</th>
                <th scope="col">Syndics</th>
                <th scope="col">Add date</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">12121212</th>
                <td>Résidence hanin</td>
                <td>sandid</td>
                
                <td><i class='bx bxs-user-circle' ></i></td>
                <td>12/01/2022</td>
                <td>
                    <div class="btn btn-danger" style="border-radius: 50%;margin-right:8px;width:39px"><i class='bx bxs-trash' ></i></div>
                    <div class="btn btn-success"style="border-radius: 50%;width:39px"><i class='bx bx-check' ></i></div>
                </td>
                
              </tr>
              
            </tbody>
          </table>
    </div>
</div>
