<app-navbar></app-navbar>
<div class="container content">

    <br>
    <h3 style="color:#22ADE2;     margin-left: -10%;"> Reclamation</h3>
    <br>
    <form #f="ngForm">
    <div class="form-box">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
<textarea class="form-control" placeholder="description" name="description"[(ngModel)]="reclamation.description"></textarea>
                  
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                        </div>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="pics" [(ngModel)]="reclamation.pics" placeholder>
                          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                      </div>
                                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="true" name="priority" >
                        <label class="form-check-label" for="exampleRadios1">
                          Normal
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="false" name="priority" checked>
                        <label class="form-check-label" for="exampleRadios1">
                          Dangerous
                        </label>
                      </div>
                   
                </div>
            </div>
           
        </div>
       
        <div class="row">
            <input type="button" value="send" class="btn btn-danger add" data-toggle="modal" data-target="#exampleModal" (click)="Reclamation()"  >
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <h3 style="color:#22ADE2;text-align: center;">Added successfuly</h3>
                    <br>
                  <img src="../assets/img/CHECK.png" alt="" srcset="" style="margin: auto;width: 100px;  display: block;
                  margin-left: auto;
                  margin-right: auto;" />
                </div>

              </div>
            </div>
          </div>
    </div>
    
    </form>
    <div class="btn btn-primary" routerLink="/viewreclamation" >
        <i class='bx bx-checkbox-minus'></i>  View Reclaamtion 
    </div>

</div>