<app-sidebar></app-sidebar>
<div class="container content">
    <div class="row">
        <div class="btn btn-danger add" >
            <a routerLink="/Add_Residence">Add_Residence</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="box"style="background-image: url('../../assets/img/residence.png');background-size: cover;">
                <div class="row">
                    <div class="col-md-6">
                        108
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" >
                        Users
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="box"style="background-image: url('../../assets/img/syndic.png');background-size: cover;">
                <div class="row">
                    <div class="col-md-6">
                        108
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" >
                        Users
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <br>
    <div class="row" style="background-color: white;padding:12px;width:99%">
        <table class="table">
            <thead style="background-color:#F1F1F1">
              <tr>
                <th scope="col"> Residence_id</th>
                <th scope="col">Owner</th>
                <th scope="col">Add Date</th>
             
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let res of residences.residences;">
                <th scope="row">{{res._id}}</th>
                <td>{{res.owner.email}}</td>
                <td>{{res.date}}</td>
                
                <td>
                    <div class="btn btn-danger" style="border-radius: 50%;margin-right:8px;width:39px"><i class='bx bxs-trash' ></i></div>
                    <div class="btn btn-primary"style="border-radius: 50%;width:39px"><i class='bx bxs-edit-alt' ></i></div>
                </td>
                
              </tr>
              
            </tbody>
          </table>
    </div>
</div>
