* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}



.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}

.img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.b1{
    display: flex;
}
.b1 h3 {
    padding-top: 14%;
    margin-left: 20%;
}
.b1 img {

    margin-top:5%
}

.login-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.img img {
    width: 500px;
}

.forme {
    width: 506px;
    margin-left: 30%;
    position: absolute;
    box-shadow: 0px 0px 13px -1px rgba(0, 0, 0, 0.301);
    -webkit-box-shadow: 0px 0px 13px -1px rgba(0, 0, 0, 0.301);
    -moz-box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.301);    padding-left: 5%;
    padding-right:5%;
    border-radius: 12px;
    
}

.login-content img {
    height: 100px;
}



a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
}

a:hover {
    color: #386ed3;
}

.back {
    border-radius: 50%;
    background-color: #5484df;
    color: white;
}

.btn {
    display: block;
    width: 35%;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #22ADE2, #22ADE2, #22ADE2);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
    margin-left: 35%;

   
}
.btn2 {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff);
    background-size: 200%;
    font-size: 1.2rem;
    color: rgb(10, 10, 10);
    font-family: 'Poppins', sans-serif;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
    box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.75);


    
   
}

.bx{
    margin-right:16%;
}
.btn:hover {
    background-position: right;
}
p{
   
    width: 100%;
}
.t1{
    margin-right:25%;
}

#inp{
    padding:7% 0% 7% 3%;
    background-color: #f3f0f0fd;
    border: 0px solid ;
    margin-bottom:10%;
    margin-top: 5%;
    border-radius: 5px;

   
    
    
}
#inp2{
    padding:7% 0% 7% 3%;
    background-color: #f3f0f0fd;
    border: 0px solid ;
    margin-bottom:10%;
    border-radius: 5px;

   
    
    
}
#inp4{
    padding:7% 0% 7% 3%;
    background-color: #f3f0f0fd;
    border: 0px solid ;
    margin-bottom:10%;
    border-radius: 5px;

   
    
    
}
#inp3{
    padding:7% 0% 7% 3%;
    background-color: #f3f0f0fd;
    border: 0px solid ;
    border-radius: 5px;

   
    
    
}

p{
    margin-top:-10%;
}

@media screen and (max-width: 1050px) {
    .container {
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    form {
        width: 290px;
    }
    .login-content h2 {
        font-size: 2.4rem;
        margin: 8px 0;
    }
    .img img {
        width: 400px;
    }
}

@media screen and (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }
    .img {
        display: none;
    }
    .wave {
        display: none;
    }
    .login-content {
        justify-content: center;
    }
}