<nav class="navbar navbar-expand-lg navbar-light nav sh ">
    <!-- <a class="navbar-brand" href="" id="navc" style="font-size:22px;"><img  width="50" height="50" class="d-inline-block align-top" srcset=""><span style="color: black;"></a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
          
            <li class="nav-item">
               <img src="../assets/img/logo.png" alt="">
            </li>
            

           



            

        </ul>

        <ul class="nav mls-auto">

          

            
            <li class="nav-item">
                <a class="nav-link scroll nav2" href="#" id="navc">
                    <i class='bx bxs-user-circle' ></i>
                ahmed stambouli
                </a>
            </li>






        </ul>

    </div>
</nav>