<app-sidebar></app-sidebar>
<div class="container content">
    <div class="cover">
        <br><br><br><br><br><br>
    </div>
    <img [src]="syndic.user_img" class="img-profil">
        
    <br><br>
    <div class="row">
        <div class="col-md-8 box" >
        <div class="row">
            <div class="col">
                <h6>lastName:{{syndic.lastName}}</h6>
            </div>
            <div class="col">
                <h6>FirstName:{{syndic.firstName}}</h6>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <h6>Email:{{syndic.email}}</h6>
            </div>
            <div class="col">
                <h6>Phone:{{syndic.phone}}</h6>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <h6>Cin:{{syndic.cin}}</h6>
            </div>
            <div class="col">
                <h6>Role:{{syndic.type}}</h6>
            </div>
        </div>
        </div>
        <div class="col-md-3 box">
            <h6 style="color:#D24C51">Residences</h6>
            <div class="row">
                <div class="col">
                    <input type="checkbox" name="" id="" checked disabled>
                    <span>Hanin</span> 
                </div>
                <div class="col">
                    <input type="checkbox" name="" id=""  checked disabled>
                    <span>Amin</span>
                </div>
            </div>
        </div>
    </div>
</div>