<div class="container content">
    <div class="cover">
        <br><br><br><br><br><br>
    </div>
    <div class="img-profil">
        
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-8 box" >
        <div class="row">
            <div class="col">
                <h6>lastName</h6>
            </div>
            <div class="col">
                <h6>FirstName</h6>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <h6>Email</h6>
            </div>
            <div class="col">
                <h6>Phone</h6>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <h6>Cin</h6>
            </div>
            <div class="col">
                <h6>Role</h6>
            </div>
        </div>
        </div>
        <div class="col-md-3 box">
            <h6 style="color:#D24C51">Residences</h6>
            <div class="row">
                <div class="col">
                    <input type="checkbox" name="" id="">
                    <span>Nom</span>
                </div>
                <div class="col">
                    <input type="checkbox" name="" id="">
                    <span>Nom</span>
                </div>
            </div>
        </div>
    </div>
</div>