<app-navbar></app-navbar>
<div class="container content">
    <div class="row">
        <div class="btn btn-danger add">
            <i class='bx bx-plus'></i> Add Syndics
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">

            <div class="card" style="width: 18rem;">
                <div class="dropdown mr-1">
                    
                
                </div>
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                   
                    <p class="card-text">Résidence:</p>

                </div>
            </div>
        </div>
        
        <div class="col-md-4">

            <div class="card" style="width: 18rem;">
                <div class="dropdown mr-1">
                    
                
                </div>
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                   
                    <p class="card-text">Résidence:</p>

                </div>
            </div>
        </div>
        
        <div class="col-md-4">

            <div class="card" style="width: 18rem;">
                <div class="dropdown mr-1">
                    
                
                </div>
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                   
                    <p class="card-text">Résidence:</p>

                </div>
            </div>
        </div>
        
        <div class="col-md-4">

            <div class="card" style="width: 18rem;">
                <div class="dropdown mr-1">
                    
                
                </div>
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                   
                    <p class="card-text">Résidence</p>

                </div>
            </div>
        </div>
        
        
    </div>
</div>