<app-sidebar></app-sidebar>
<div class="container content">
    <div class="row">

    </div>
    <br>
    <h3 style="color:#5484df">Request List</h3>
    <br>
    <div class="row" style="background-color: white;padding:12px;width:99%">
        <table class="table">
            <thead style="background-color:#F1F1F1">
              <tr>
                

                <th scope="col">User_name</th>
                <th scope="col">Email</th>
                <th scope="col">phone</th>
                <th scope="col">Appartement</th>
                <th scope="col">Facture</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">ba7lous</th>
               
                <td>ba7lous@mail.com</td>
                <td>55448877</td>
                
                <td>1212121212</td>
                <td><i class='bx bxs-file-png' ></i></td>
                <td>
                    <div class="progress" style="height: 10px; ">
                        <div class="progress-bar " role="progressbar" style="width: 25%;;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="30"></div>
                      </div>
                </td>
                
              </tr>
              <tr>
                <th scope="row">foulan</th>
                
                <td>foulan@mail.com</td>
                <td>53804490</td>
                
                <td>12</td>
                <td><i class='bx bxs-file-png' ></i></td>
                <td>
                    <div class="progress" style="height: 10px; ">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </td>
                
              </tr>
              
            </tbody>
          </table>
          
    </div>
    <div class="btn btn-primary"  routerLink="/Reclamation">
        <i class='bx bx-checkbox-minus'></i> Add Reclamation 
    </div>
    <div class="btn btn-primary"  routerLink="/viewreclamation">
        <i class='bx bx-checkbox-minus'></i>  View Reclamation 
    </div>
    <div class="btn btn-primary"  routerLink="/Reclamation">
        <i class='bx bx-checkbox-minus'></i> Ask for invoise
    </div>
</div>
